DATABASE_NAME=your_database
DATABASE_USER=your_database_username
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

DEBUG= # set here True for debug or False for production

SECRET_KEY=your_secret_key_from_settings_py
TG_BOT_TOKEN=your_Telegram_token_to_access_the_HTTP_API

CELERY_BROKER_URL=# for example: redis://localhost:6379/0
CELERY_RESULT_BACKEND=# for example: redis://localhost:6379/0
